<!DOCTYPE html>
<!--
  Girly by FreeHTML5.co
  Twitter: https://twitter.com/fh5co
  Facebook: https://fb.com/fh5co
  URL: https://freehtml5.co
-->
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="static/css/1.css" />
  <link rel="stylesheet" href="static/css/style1.css" />
  <title>social distancing</title>
</head>
<body>
  <nav class="navbar navbar-expand-md  fixed-top maine-menu">
    <div class="container">
      <button class="navbar-toggler ml-auto" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"> <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>
      <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">

          <li class="nav-item"> <a class="nav-link" href="/" tabindex="-1" aria-disabled="true"><h3>HOME</h3></a></li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid fh5co-home-banner">
    <div class="card"> <img class="card-img" src="static/img/sd7.jpg" alt="">
      <div class="card-img-overlay">
        <div class="center-text">
          <h2 class="card-title" style="font-family:georgia;font-weight: bold;">SOCIAL DISTANCING</h2><br><br>
          <div><h3><p style="color:white"> Social distancing is a public health practice that aims to prevent sick people from coming in close contact with healthy people in order to reduce opportunities for disease transmission. It can include large-scale measures like canceling group events or closing public spaces, as well as individual decisions such as avoiding crowds.</p></h3>
             <a href="{{ url_for('educate') }}" class="btn" style="font-weight: bold;">
            <svg width="201" height="51" viewBox="0 0 201 51">
              <defs>
                <style>
                .cls-1 {
                  fill: none;
                  stroke-width: 1px;
                  stroke: url(#linear-gradient);
                }
              </style>
              <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#e90e65"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
            </defs>
            <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5" y="0.5" width="200" height="50" rx="25" ry="25"/>
          </svg>
        Explore</a> 
          </div>
          </div>
      </div>
    </div>
  </div>


  <!-- Blog content section -->
  <section class="fh5co-blog-content">
    <div class="blog-content-bckg">
      <div class="blog-content-inner">
        <div class="container-fluid">
          <h2 class="card-title">Our analysis on social distancing</h2>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="static/img/sd3.jpg" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>WHAT IS IT?</h2>
              <p>Social distancing is a non-pharmaceutical infection prevention and control intervention implemented to avoid/decrease contact between those who are infected with a disease causing pathogen and those who are not, so as to stop or slow down the rate and extent of disease transmission in a community. This eventually leads to decrease in spread, morbidity and mortality due to the disease.</p>
              <p></p>
            </div>
          </div>
          <div class="row single-blog" >
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="static/img/sd2.png" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Minimum distance to be followed</h2>
              <p>Ensure physical distancing (minimum 1metre) between tables; encourage open air seating where practical with adequate distancing.</p>
              <p>Maintain at least 1 metre (3 feet) distance between yourself and others. Why? When someone coughs, sneezes, or speaks they spray small liquid droplets from their nose or mouth which may contain virus. If you are too close, you can breathe in the droplets, including the COVID-19 virus if the person has the disease.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100"  src="static/img/sd4.jpg" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>How to avoid the spread?</h2>
              <p><ol>
                <li>
              stay at least 2 metres (3 steps) away from anyone you do not live with (or anyone not in your support bubble) when outside your home
                </li>
                <li>
                  wash your hands with soap and water often – do this for at least 20 seconds
                </li>
                <li>
                  use hand sanitiser gel if soap and water are not available
                </li>
                <li>
                  wash your hands as soon as you get home
                </li>
                <li>
                  cover your mouth and nose with a tissue or your sleeve (not your hands) when you cough or sneeze
                </li>
                <li>
                  put used tissues in the bin immediately and wash your hands afterwards
                </li>
              </ol></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog content section end -->


  <footer class="container-fluid p-0 pr-0">
    <div class="row mr-0 ml-0">
      <div class="col-md-12 pr-0 pl-0 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13035.46901327725!2d-80.85396551628644!3d35.234674411422155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a03af474f38f%3A0xf8301daadf5f7670!2sFourth+Ward%2C+Charlotte%2C+NC%2C+USA!5e0!3m2!1sen!2sin!4v1551001218548"  style="border:0" allowfullscreen></iframe>
      </div>

    </div>

  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
  <script src="static/js/jquery-3.3.1.slim.min1.js"></script> 
  <script src="static/js/popper.min1.js" ></script> 
  <script src="static/js/bootstrap.min1.js"></script> 
  <script src="static/js/owl.carousel.min1.js"></script> 
  <script src="static/js/main1.js"></script>

</body>
</html>