<!DOCTYPE html>
<!--
  Girly by FreeHTML5.co
  Twitter: https://twitter.com/fh5co
  Facebook: https://fb.com/fh5co
  URL: https://freehtml5.co
-->
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="static/css/1.css">
  <link rel="stylesheet" href="static/css/style1.css">
  <title>Covid</title>
</head>

<body>
  <nav class="navbar navbar-expand-md  fixed-top maine-menu">
    <div class="container">
      <button class="navbar-toggler ml-auto" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"> <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>
      <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">

          <li class="nav-item"> <a class="nav-link" href="{{ url_for('socialdistancing') }}" tabindex="-1" aria-disabled="true"><h3>HOME</h3></a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid fh5co-home-banner">
    <div class="card"> <img class="card-img" src="static/img/e2.jpg" alt="">
      <div class="card-img-overlay">
        <div class="center-text">
          <h2 class="card-title">EDUCATION THE ONLY SOURCE<br>Upskill during quarantine</h2>
 </div>
      </div>
    </div>
  </div>
  <div class="container-fluid fh5co-two-img">
    <div class="row">
      <div class="col-sm-6 pr-0 pl-0">
        <div class="card"> <img class="card-img" src="static/img/e5.jpg" alt="">
          <div class="card-img-overlay"> </div>
        </div>
      </div>
      <div class="col-sm-6 pr-0 pl-0">
        <div class="card"> <img class="card-img" src="static/img/e5.jpg" alt="">
          <div class="card-img-overlay"> </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid fh5co-recent-work">
    <div class="container contact-pop">
      <div class="row">
        <div class="col-md-6  pr-0">
          <div class="card"> <img class="card-img w-100" src="static/img/e3.jpg" alt="">
            <div class="card-img-overlay"> </div>
          </div>
        </div>
        <div class="col-md-6 pl-0" id="about">
          <div class="content">
            <h3>ONLINE EDUCATION</h3>
            <h4>NOTABLE SITES</h4>
            <hr />
            <p>Online courses and degree programs are more convenient and cheaper than their counterparts in traditional education. Those are the two main advantages of online learning that lead many students to opt for online platforms when they want to earn a degree or certificate.</p>
           
          </div>
        </div>
      </div>
   <div class="container-fluid recent fh5co-portfolio" id="portfolio">
    <div class="container">
      <h2>Best online sites to learn</h2>
      <div class="row">
        <div class="bx bx-1">
          <div class="card"> <a href="https://www.coursera.org/"><img class="card-img" src="static/img/e7.jpg"  alt=""></a>
            <div class="card-img-overlay"> <a href="https://www.coursera.org/"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text"><a href="https://www.coursera.org/">
                <h5 class="card-title">COURSERA </h5></a>
              </div>
            </div>
          </div>
        </div>
                <div class="bx bx-1">
          <div class="card"> <img class="card-img" src="static/img/e9.jpg" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text"><a href="https://www.udemy.com/">
                <h5 class="card-title">UDEMY </h5></a>
              </div>
            </div>
          </div>
        </div>
                <div class="bx bx-1">
          <div class="card"> <img class="card-img" src="static/img/e11.jpg" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text"><a href="https://www.udacity.com/">
                <h5 class="card-title">UDACITY </h5></a>
              </div>
            </div>
          </div>
        </div>
                <div class="bx bx-1">
          <div class="card"> <img class="card-img" src="static/img/e15.jpg" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text"><a href="https://www.edx.org/">
                <h5 class="card-title">EDX </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     
  <div class="container-fluid recent fh5co-portfolio" id="portfolio">
    <div class="container">
      <h2>Important details to check out in this period</h2>
      <div class="row">
        <div class="bx bx-1">
          <div class="card"> <img class="card-img" src="static/img/h1.jpg" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance/health-workers">
                <h5 class="card-title">HEALTHCARE </h5></a>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-2">
          <div class="card"> <img class="card-img" src="static/img/h2.jpg" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text"><a href="https://mhanational.org/medication-access-during-covid-19">
                <h5 class="card-title">Medication</h5></a>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-3">
          <div class="card"> <img class="card-img" src="static/img/n1.jpg" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text"><a href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf">
                <h5 class="card-title">Emergency contacts for INDIA</h5></a>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-4">
          <div class="card"> <img class="card-img" src="static/img/f1.jpg" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text"><a href="https://www.euro.who.int/en/health-topics/health-emergencies/coronavirus-covid-19/technical-guidance/food-and-nutrition-tips-during-self-quarantine">
                <h5 class="card-title">Food</h5></a>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-middle" style="padding: 0;">
          <div class="bx bx-5">
            <div class="card"> <img class="card-img" src="static/img/b1.jpg" alt="">
              <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
                <div class="bottom-text"><a href="https://covid19.who.int/?gclid=CjwKCAjw26H3BRB2EiwAy32zhXSMRR0oPkQTtasWyVHwhrjyz0RhwUTDw5ZaU0MTJabeuxpWPJONVxoCiTAQAvD_BwEhttps://covid19.who.int/?gclid=CjwKCAjw26H3BRB2EiwAy32zhXSMRR0oPkQTtasWyVHwhrjyz0RhwUTDw5ZaU0MTJabeuxpWPJONVxoCiTAQAvD_BwE">
                  <h5 class="card-title">News</h5></a>
                </div>
              </div>
            </div>
          </div>
          <div class="bx bx-6">
            <div class="card"> <img class="card-img" src="static/img/s1.jpg" alt="">
              <div class="card-img-overlay"> <a href="https://www.u4.no/publications/supporting-civil-society-during-the-covid-19-pandemic"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
                <div class="bottom-text"><a href="https://www.u4.no/publications/supporting-civil-society-during-the-covid-19-pandemic">
                  <h5 class="card-title">Society</h5></a>
                </div>
              </div>
            </div>
          </div>

           
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
  <script src="static/js/jquery-3.3.1.slim.min.js"></script> 
  <script src="static/js/popper.min.js" ></script> 
  <script src="static/js/bootstrap.min.js"></script> 
  <script src="static/js/owl.carousel.min.js"></script> 
  <script src="static/js/main.js"></script>

</body>
</html>